



<!DOCTYPE html>
<html lang="zh-CN" class="with-v3-banner">
  <head>
    <title>Themes — Vue.js</title>
    <meta charset="utf-8">
    <meta name="description" content="Vue.js - The Progressive JavaScript Framework">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" hreflang="x-default" href="https://v2.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="zh" href="https://v2.cn.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="ja" href="https://jp.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="ru" href="https://ru.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="ko" href="https://kr.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="pt-BR" href="https://br.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="fr" href="https://fr.vuejs.org/resources/themes.html">
    <link rel="alternate" hreflang="es" href="https://es.vuejs.org/resources/themes.html">

    <meta property="og:type" content="article">
    <meta property="og:title" content="Themes — Vue.js">
    <meta property="og:description" content="Vue.js - The Progressive JavaScript Framework">
    <meta property="og:image" content="https://v2.cn.vuejs.org/images/logo.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Themes — Vue.js">
    <meta name="twitter:description" content="Vue.js - The Progressive JavaScript Framework">
    <meta name="twitter:image" content="https://v2.cn.vuejs.org/images/logo.png">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
    <link rel="icon" href="/images/logo.svg">

    <meta name="msapplication-TileColor" content="#4fc08d">
    <meta name="theme-color" content="#4fc08d">

    <meta name="msapplication-config" content="browserconfig.xml">
    <link rel="manifest" href="/manifest.json">

    <!-- <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com" rel="preconnect" crossorigin> -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Dosis:500&text=Vue.js&display=swap" rel="stylesheet"> -->

    <link href="//code.bdstatic.com/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- main page styles -->
    
<link rel="stylesheet" href="/css/page.css">


    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="/js/vue.js"></script>

    
    <script src="/js/theme-data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js" integrity="sha256-LSUpTY0kkXGKvcBC9kbmgibmx3NVVgJvAEfTZbs51mU=" crossorigin="anonymous"></script>
    

    <script>
      Vue.config.productionTip = false
      window.PAGE_TYPE = "resources"
    </script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="KTDIHEIJ" defer></script>
    <!-- / Fathom -->

    <!-- vimeo analytics -->
    <!-- <script type="text/javascript" defer="defer" src="https://extend.vimeocdn.com/ga/72160148.js"></script> -->
<meta name="generator" content="Hexo 6.3.0"><link rel="alternate" href="/atom.xml" title="Vue.js" type="application/atom+xml">
</head>
  <body class="docs">

    

    <div id="mobile-bar" >
      <a class="menu-button"></a>
      <a class="logo" href="/"></a>
    </div>
    <div>


  <header id="header">
    <a id="logo" href="/">
      <!-- <img src="/images/logo.svg" alt="vue logo"> -->
      <span>博客</span>
    </a>
    <ul id="nav">
      <li>
    <form id="search-form">
        <input type="text" id="search-query-nav" class="search-query st-default-search-input" aria-label="搜索" />
    </form>
</li>
<li class="nav-dropdown-container learn">
    <a class="nav-link">前端</a
    ><span class="arrow"></span>
    <ul class="nav-dropdown">
        <li><h4>文档</h4></li>
        <li>
            <ul>
                <li><a href="/v2/guide/" class="nav-link">HTML</a></li>
        <li><a href="/v2/api/" class="nav-link">CSS</a></li>
        <li><a href="/v2/style-guide/" class="nav-link">JS</a></li>
            </ul>
        </li>
    </ul>
</li>
 <li class="nav-dropdown-container framework">
    <a class="nav-link">前端框架</a
    ><span class="arrow"></span>
    <ul class="nav-dropdown">
        <li>
            <ul>
                 <li><a href="/framework/vue/" class="nav-link">vue</a></li>
                  <li><a href="/framework/uniapp/" class="nav-link">uniapp</a></li>
               
            </ul>
        </li>
    </ul>
</li>
 <li class="nav-dropdown-container resources">
    <a class="nav-link">网站部署</a
    ><span class="arrow"></span>
    <ul class="nav-dropdown">
        <li>
            <ul>
                 <li><a href="/website/process/" class="nav-link">部署流程</a></li>
                <li><a href="/website/hexo/" class="nav-link">HEXO</a></li>
                <li><a href="/website/docker/" class="nav-link">Docker</a></li>
            </ul>
        </li>
    </ul>
</li>
 <li class="nav-dropdown-container tool">
    <a class="nav-link">工具</a
    ><span class="arrow"></span>
    <ul class="nav-dropdown">
        <li>
            <ul>
                 <li><a href="/tool/git/" class="nav-link">git</a></li>
                  <li><a href="/tool/webpack/" class="nav-link">webpack</a></li>
                <li><a href="/tool/jenkins/" class="nav-link">jenkins</a></li>
            </ul>
        </li>
    </ul>
</li>

<!-- <li>
    <a href="/eol/" class="badge-parent">终止支持 (EOL)<sup class="badge">新</sup></a>
</li> -->

    </ul>
  </header>
</div>

    
      <div id="main" class="fix-sidebar">
         

<div class="sidebar">
    <div class="sidebar-inner">
        
        <div class="list"> <ul class="menu-root">
  
    
    
    <li>
      <a href="/resources/themes.html" class="sidebar-link current">Themes</a>
    </li>
  
</ul>
 </div>
    </div>
</div>
<!--

<div id="sidebar-sponsors-platinum-right">
  <div class="main-sponsor">
    <span>白金赞助商</span>
    <div>
    <a href="https://www.vuemastery.com/" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/vuemastery.png" alt="VueMastery">
    </a>
    <a href="https://vehikl.com/" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/vehikl.png" alt="Vehikl">
    </a>
    <a href="https://vuejs.amsterdam/" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/vue_js_amsterdam.png" alt="Vue.js Amsterdam">
    </a>
    <a href="https://www.storyblok.com" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/storyblok.png" alt="Storyblok">
    </a>
    <a href="https://opencollective.com/2021-frameworks-fund" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/chrome_frameworks_fund.png" alt="Chrome Frameworks Fund">
    </a>
    <a href="https://www.herodevs.com/support/vue" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/herodevs.png" alt="HeroDevs">
    </a>
    <a href="https://certificates.dev/javascript/?ref=vuejs-sponsor&friend=VUEJS" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/javascript_certification.png?v2" alt="JavaScript Certification">
    </a>
    <a href="https://www.coderabbit.ai?utm_source=github&utm_medium=sponsors&utm_campaign=evan_you_2025" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/coderabbit_.png" alt="CodeRabbit ">
    </a>
    <a href="https://imagekit.io/?utm_source=vuejs&utm_medium=referral&utm_campaign=oss-sponsorship&utm_content=homepage" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/imagekit_io.svg" alt="ImageKit.io">
    </a>
    <a href="https://www.greptile.com/?utm_source=vuejs&utm_medium=sponsorship&utm_campaign=vue_sponsor_page" target="_blank" rel="sponsored noopener" class="logo">
      <img src="https://sponsors.vuejs.org/images/greptile.png" alt="Greptile">
    </a>
    </div>
  </div>
  <a class="become-backer" href="/support-vuejs">
    成为赞助者
  </a>
</div>


-->
 
<div
    class="content resources with-sidebar "
>
      
<div id="ad">
  <!-- start: special logic for cn -->
  <div
    class="wwads-cn wwads-vertical"
    data-id="53"
    style="max-width: 200px"
  ></div>
  <script
    type="text/javascript"
    src="https://cdn.wwads.cn/js/makemoney.js"
    async
  ></script>
  <!-- end: special logic for cn -->
  <!-- <script
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CEBDT27Y&placement=vuejsorg"
    id="_carbonads_js"
  ></script> -->
</div>

   
    <h1>Themes</h1>
    

    <!-- start: special logic for cn -->
    <!-- start: special logic for cn -->
<!-- <div class="ad-pagetop">
  <a href="http://www.vueshop.com.cn/index.php?http_referer=vuejs" target="_blank" rel="noopener noreferrer">
    <span class="name">VUEshop</span>
    <span class="description">中国免费商城系统 - 搜豹商城系统 - 免费50小时 Vue 视频教程</span>
    <span class="action">立即查看 &gt;</span>
  </a>
</div> -->
<!-- end: special logic for cn -->

    <!-- end: special logic for cn -->

     
<div id="themes">
  <section v-for="partner in partners" :key="partner.name" class="partner-wrapper">
    <partner-component :partner="partner"></partner-component>
  </section>

  <p>
    Want to feature your themes here?
    <a href="mailto:evan@vuejs.org?subject=Theme+affiliation">Contact us</a>!
  </p>
</div>

<script type="text/template" id="partnerTemplate">
  <div>
    <h2 :id="partner.name">{{partner.name}}</h2>
    <blockquote class="theme-partner-description" v-html="partnerDescription"></blockquote>
    <div class="themes-grid">
      <div v-for="product in partner.products" :key="product.url" class="item-preview">
        <a class="item-preview-img" :href="product.url" rel="sponsored">
          <img :src="product.image" :alt="`${product.name} - ${product.description}`" loading="lazy">
        </a>
        <div class="item-preview-name-container">
          <h3 class="item-preview-name" :class="{'free': product.price === 0}">
            {{product.name}}
          </h3>
          <b v-if="product.price" class="item-preview-price">${{product.price}}</b>
        </div>
        <div class="item-preview-description">{{product.description}}</div>
      </div>
      <div class="see-more-container">
        <a :href="partner.seeMoreUrl" class="button white see-more-link">See More Themes from {{partner.name}}</a>
      </div>
    </div>
  </div>
</script>

<script>
var mdConverter = new showdown.Converter()

Vue.component('partner-component', {
  template: document.getElementById('partnerTemplate').innerHTML,
  props: {
    partner: {
      type: Object,
      required: true
    }
  },
  computed: {
    partnerDescription: function () {
      return mdConverter.makeHtml(this.partner.description)
    }
  }
})

const app = new Vue({
  el: '#themes',
  data: function () {
    return {
      partners: themeData
    }
  }
})
</script>

  
    <div class="footer">
<script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<div id="bsa-native"></div>
<script>
_bsa.init('custom', 'CKYD62QM', 'placement:vuejsorg',
  {
    target: '#bsa-native',
    template: '<a class="native-box" href="##statlink##"><div class="native-sponsor">Sponsor</div><div class="native-text"><strong>##company##</strong> — ##description##</div></a>'
  }
);
</script>

发现错误？想参与编辑？
        <a
            href="https://github.com/vuejs/v2.cn.vuejs.org/blob/master/src/resources/themes.md"
            rel="noopener"
            target="_blank"
        >
            在 GitHub 上编辑此页！
        </a>
        <!-- Deployed on
    <a href="https://url.netlify.com/HJ8X2mxP8" rel="noopener" target="_blank">
      Netlify
    </a>. -->
    </div>
</div>

      </div>
      <script src="/js/smooth-scroll.min.js"></script>
    

    <!-- main custom script for sidebars, version selects etc. -->
    <script src="/js/css.escape.js"></script>
    <script src="/js/common.js"></script>

    <!-- search -->
    <link href="//code.bdstatic.com/npm/docsearch.js@1.5.0/dist/cdn/docsearch.min.css" rel='stylesheet' type='text/css'>
    
<link rel="stylesheet" href="/css/search.css">

    <script src="//code.bdstatic.com/npm/docsearch.js@1.5.0/dist/cdn/docsearch.min.js"></script>
    <script>
    [
      '#search-query-nav',
      '#search-query-sidebar',
      '#search-query-menu'
    ].forEach(function (selector) {
      if (!document.querySelector(selector)) return
      docsearch({
        appId: 'UURH1MHAF7',
        apiKey: 'c23eb8e7895f42daeaf2bf6f63eb4bf6',
        indexName: 'vuejs_cn2',
        inputSelector: selector,
        algoliaOptions: { facetFilters: ["version:v2"]},
        autocompleteOptions: { hint: false, appendTo: 'body'}
      })
    })

    // unregister service worker
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
        for(let registration of registrations) {
          registration.unregister()
        }
      })
    }
    </script>
  </body>
</html>
